---
import { SITE } from "@config";
import "@styles/base.css";
import { Schema } from "astro-seo-schema";

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const socialImageURL = new URL(
  ogImage ? ogImage : SITE.ogImage,
  Astro.url.origin
).href;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- Schema.org -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "Person",
        name: "Jeff Ruane",
        gender: "https://schema.org/Male",
        hasOccupation: {
          "@type": "Occupation",
          name: "Senior Software Engineer",
        },
        address: {
          "@type": "PostalAddress",
          addressLocality: "Denver",
          addressRegion: "Colorado",
          addressCountry: "US",
        },
        knowsAbout: [
          "Python",
          "SQL",
          "Data pipelines",
          "Relational databases",
          "Columnar databases",
          "API design",
        ],
        alumniOf: {
          "@type": "EducationalOrganization",
          name: "Turing School of Software and Design",
          sameAs: "https://turing.edu",
        },
        email: "jeff@jbrr.dev",
        sameAs: [
          "https://twitter.com/jefbrr",
          "https://mastodon.sdf.org/@jbrr",
          "https://github.com/jbrr",
          "https://flickr.com/photos/eioua",
          "https://bsky.app/profile/skipper.fart.boats",
          "https://linkedin.com/in/jeffruane",
        ],
      }}
    />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <!--Font-->
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans-var.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-sans-var-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/ibm-plex-mono-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/work-sans-bold-italic.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="/" crossorigin />

    <!-- Privacy ensured metrics -->
    <script defer data-domain="jbrr.dev" src="/js/script.js"></script>

    <!--IndieWeb-->
    <!--IndieAuth-->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth" />
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token" />
    <!--webmention.io-->
    <link rel="webmention" href="https://webmention.io/jbrr.dev/webmention" />

    <!--Sitemap-->
    <link rel="sitemap" href="/sitemap-index.xml" />

    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>
